html {
    /*convierte 1rem en 10px*/
    font-size: 62.5%;
    /*para cuando añadimos un width y un padding no modifique el tamaño del elemento*/
    box-sizing: border-box;
    background-color: #ffe4d5c5;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}

.enlace {
    color: #ff853e;
    font-weight: bold;
    cursor: pointer;
    text-decoration-line: underline;
}

h1 {
    margin: 0rem;
}

/* Inicio - estilos para el marco de presentación */

.marco-presentation {
    position: fixed;
    background-image: linear-gradient(to bottom right, #ff853e 60%, #ffffff 100%);
    opacity: 1;
    transition: opacity 1s ease;
}

.marco-presentation.ocultar {
    opacity: 0;
}

.desaparecer {
    display: none;
}

.title {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 4rem;
    margin: 0rem;
}

.title p {
    font-size: 2rem;
    margin: 0rem;
}

#button-start {
    text-align: center;
    font-size: 5rem;
    margin-top: 1rem;
    cursor: pointer;

    animation: levitar 2s infinite alternate ease-in-out;
}

#button-start:hover {
    color: #ffffffcd;
}

@keyframes levitar {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1rem);
    }
}

/* Fin - estilos para el marco de presentación */

/* Inicio - estilos para el índice */

.navegation {
    display: flex;
    justify-content: center;
    /* background-color: #ffffff30; */
    background-color: #ff853e;
    margin: 5vh 0vw 0vh 0vw;
    height: 5rem;
    /* border: 0.4rem solid #ff7220; */
    /* border-radius: 2rem; */
    text-align: center;
}

.navegation ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
}

.navegation a {
    text-decoration: none;
    color: #000;
    margin: 0 1.5rem;
}

.navegation a:hover {
    color: #fff;
}

main {
    background-color: #ff853e25;
    margin: 2vh 4vw 2vh 4vw;
    padding: 5rem;
    /* border: 0.1rem solid #000; */
    /* border-radius: 2rem; */
}

main .content {
    /* background-color: #ffffff30; */
    margin: 2vh 2vw 0vh 2vw;
    /* border: 0.1rem solid #000; */
    /* border-radius: 2rem; */
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    gap: 2rem;
    align-items: center;
}

main .rostro {
    background-image: url("/img/rostro.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    border: 0.1rem solid #000;
    border-radius: 100rem;
    height: 30vh;
}

main .presentation {
    text-align: justify;
    display: flex;
    align-items: center;
}

footer {
    /* margin-top: 2rem; */
    background-color: #ff853e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Estilos para experiencia */
.content-experience {
    background-color: #ff995e;
    /* background-image: linear-gradient(to bottom, #ff853e 50%, #ffe4d5c5 100%); */
    margin: 1rem 2rem;
    /* padding: 1rem; */
    text-align: center;
    /* border: 0.2rem solid #ff853e; */
    /* border-radius: 2rem; */
    cursor: pointer;
}

.experiences .content-experience:hover {
    background-color: #ff853e;
}

.entity-name::after {
    content: "+";
    position: absolute;
    font-size: 2.5rem;
    right: 15rem;
}

.content-experience .role {
    font-weight: bold;
}

.content-experience .entity-name {
    font-size: 1.8rem;
}

.content-experience .working-time {
    font-size: 1.8rem;
}

.content-experience .head {
    padding: 1rem;
}

.content-experience .body {
    /* padding: 1rem; */
    margin-top: 1rem;
    height: 0rem;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
    /* background-color: #ffe4d5c5; */

}

.content-experience.activa .body {
    padding: 1.5rem;
    cursor: default;
}

.experiences .content-experience.activa .body {
    background-color: #ffe4d5c5;
    height: max-content;
}

.experiences .content-experience.activa .entity-name::after {
    content: "-";
}

.projects .project {
    background-color: #ff995e;
    margin: 1rem 10rem 1rem 10rem;
    cursor: pointer;
}

.projects .project:hover {
    background-color: #ff853e;

}

.project .head {
    text-align: center;
}

.project .name {
    font-weight: bold;
}

.project .p-body {
    background-color: #ffe4d56e;
    padding: 2rem;
}

/* Media query para dispositivos con un ancho máximo de 768px (pantallas de celular) */
@media only screen and (max-width: 768px) {

    html {
        font-size: 38.5%;
    }

    .navegation a {
        font-size: 1.5rem;
        margin: 0 .5rem;
    }

    main .rostro {
        width: 24vw;
        height: 16vh;
    }

}