html {
    /*convierte 1rem en 10px*/
    font-size: 62.5%;
    /*para cuando añadimos un width y un padding no modifique el tamaño del elemento*/
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    background-color: #ffe4d5c5;
}

/* Inicio - estilos para el marco de presentación */

.marco-presentation {
    position: fixed;
    background-image: linear-gradient(to bottom right, #ff853e 60%, #ffffff00 100%);
    opacity: 1;
    transition: opacity 1s ease;
}

.marco-presentation.ocultar {
    opacity: 0;
}

.title {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-size: 4rem;
    margin: 0rem;
}

.title p {
    font-size: 2rem;
    margin: 0rem;
}

#button-start {
    text-align: center;
    font-size: 5rem;
    margin-top: 1rem;
    cursor: pointer;

    animation: levitar 2s infinite alternate ease-in-out;
}

#button-start:hover {
    color: #ffffffcd;
}

@keyframes levitar {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(1rem);
    }
}

/* Fin - estilos para el marco de presentación */

/* Inicio - estilos para el índice */

.navegation {
    background-color: #ffffff30;
    margin: 5vh 10vw 0vh 10vw;
    height: 5rem;
    border: 0.1rem solid #000;
    border-radius: 2rem;
    text-align: center;
}