#main {
    margin-bottom: 10px;
}

main p {
    text-align: justify;
    line-height: 1.5;
}

a {
    word-wrap: break-word;
}

.ilustraciones {
    display: flex;
    overflow: auto;
}

.ilustraciones img,
iframe {
    height: 300px;
    border: 1px solid #000;
    margin-right: 10px;
}

/* Media queries */
@media (max-width: 768px) {
    #main {
        margin-left: 10px;
        margin-right: 10px;
    }
}

footer p {
    text-align: center;
}